[user]
	name = Aechewhy
	email = harryhuy2472004@gmail.com
[core]
  editor = nvim
[color]
  ui = auto
[credential]
	helper = store
[core]
	pager = nvim -R
[alias]
  st = status
  co = checkout
  br = branch
  cm = commit
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
